---
http_interactions:
- request:
    method: post
    uri: https://api-snacks.nerderylabs.com/v1/snacks?ApiKey=83878fc8-03b0-4f03-a2f9-668114c80eb5
    body:
      encoding: UTF-8
      string: '{"name":"snicky snack 1","location":"Snack Store","lastPurchaseDate":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":3615,"name":"snicky snack 1","optional":true,"purchaseLocations":"Snack
        Store","purchaseCount":0,"lastPurchaseDate":null}'
  recorded_at: Sun, 09 Apr 2017 21:46:04 GMT
recorded_with: VCR 3.0.3
