---
http_interactions:
- request:
    method: get
    uri: https://api-snacks.nerderylabs.com/v1/snacks?ApiKey=83878fc8-03b0-4f03-a2f9-668114c80eb5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1000,"name":"Ramen","optional":false,"purchaseLocations":"Whole
        Foods","purchaseCount":1,"lastPurchaseDate":"2/22/2017"},{"id":1001,"name":"Pop
        Tarts","optional":false,"purchaseLocations":"Cub Foods","purchaseCount":1,"lastPurchaseDate":"2/28/2017"},{"id":1002,"name":"Corn
        Nuts","optional":false,"purchaseLocations":"Cub Foods","purchaseCount":1,"lastPurchaseDate":"2/28/2017"},{"id":1003,"name":"Bagels","optional":false,"purchaseLocations":"Cub
        Foods","purchaseCount":1,"lastPurchaseDate":"2/15/2017"},{"id":1004,"name":"Wasabi
        Peas","optional":false,"purchaseLocations":"CVS","purchaseCount":1,"lastPurchaseDate":"2/15/2017"},{"id":1005,"name":"Mixed
        Nuts","optional":false,"purchaseLocations":"CVS","purchaseCount":1,"lastPurchaseDate":"2/8/2017"},{"id":1006,"name":"Bananas","optional":false,"purchaseLocations":"Whole
        Foods","purchaseCount":1,"lastPurchaseDate":"2/12/2017"}]'
  recorded_at: Thu, 06 Apr 2017 20:07:08 GMT
recorded_with: VCR 3.0.3
